# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://zuignxcbpgrfnhpfdstr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1aWdueGNicGdyZm5ocGZkc3RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcxNDIxNDQsImV4cCI6MjA3MjcxODE0NH0.QzNRbkKjLVkyziiRs_DNvbK92KZDCUch4yjw8TA6huw

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

sinailno 